* {
	margin: 0;
	padding: 0;
	border-radius: 1.2rem;
	overflow: hidden;
}

html,
body {
	height: 100%;
	overflow: hidden;
	background-color: black;
}

#Wrap {
	height: 100%;
	font-size: 0.7rem;
	/* line-height: 1.5rem; */
	color: white;
	background-color: #0c1749;
}

#Compute_Butt {
	float: right;
	display: block;
	width: 8rem;
	color: #000000;
	text-align: center;
	background-color: #E6427B;
}

#Money,
#StartDate,
#Interest_rate {
	float: right;
	height: 100%;
	text-align: center;
	width: 6rem;
	font-size: 0.7rem;
}

#Results {
	height: 35%;
}

#Rel1,
#Rel2,
#Rel3 {
	float: right;
}

#Results_display {
	margin: auto;
	height: 85%;
	width: 90%;
	background-color: #5A73EF;
}

#Results_display table {
	height: 100%;
	width: 100%;
}

#Input_area {
	height: 65%;
	width: 90%;
	margin: auto;
}

.Divs_css {
	height: 13%;
	margin: 0.3rem 0rem;
	background-color: #5A73EF;
}

input {
	border: none;
	outline: none;
	height: 1.2rem;
	display: inline-block;
}

.AD_Div{
	margin: 0.6rem 0.1rem;
	height: 45%;
	width: 31.3%;
	float: left;
	background-color: #5A73EF;
	line-height: 1.7rem;
}

footer p {
	height: 40%;
	font: italic 0.7em Georgia, serif;
}

footer {
	height: 39%;
	text-align: center;
}
