* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 12px;
	height: 100vh;
	width: 100vw;
}

#wrap {
	height: 100%;
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	background-color: #0c1749;
	color: white;
	overflow: hidden;
}

#display_area {
	height: 35%;
	width: 90%;
	margin: 5%;
	font-size: 2rem;
	background-color: #5A73EF;
	border-radius: 3rem;
	display: flex;
	flex-direction: column;
}

.display_div {
	flex: 1;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}

#input_area {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#AD {
	height: 10%;
	width: 100%;
	background-color: blueviolet;
}

.input_div {
	width: 90%;
	height: 20%;
	font-size: 2rem;
	border-radius: 6rem;
	background-color: #5A73EF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.input_butt {
	height: 100%;
	width: 40%;
	background-color: white;
	border-radius: 6rem;
	overflow: hidden;
}

.input_butt input {
	height: 100%;
	width: 100%;
	background-color: transparent;
	border: none;
	font-size: 1.5rem;
	text-align: center;
}

#AD{
	display: flex;
	align-items: center;
	justify-content: center;
}